<html>
    <head>
        <title>
            Restorant main
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <style>
            body{
              background-color: #FFA500;
            }
          </style>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
              <!-- Brand/logo -->
            <li class="nav-item dropdown">
              <a class="navbar-brand" href="#" id="navbardrop" data-toggle="dropdown">
                Pomato
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/update/Restaurant" >Update profile</a>
                <a class="dropdown-item" href="/" >Logout</a>
              </div>
            </li>
            
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Items
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/Restaurant/{{email}}/Available" >Available</a>
                  <a class="dropdown-item" href="/Restaurant/{{email}}/Unavailable">Unavailable</a>
                  <a class="dropdown-item" href="/Restaurant/main">All</a>
                </div>
              </li>
                
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      New menu item
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#" onclick="AddSIngle()">Single item</a>
                      <a class="dropdown-item" href="#" onclick="OpenMulti()">5 items at a time</a>
                    </div>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Orders
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/restaurant/Ordered" >New orders</a>
                    <a class="dropdown-item" href="/restaurant/Recieved">Recieved orders</a>
                    <a class="dropdown-item" href="/restaurant/Out for delivery">Orders out for delevery</a>
                </div>
              </li>
            </ul>
            <!-- <form class="form-inline" action="/Restaurant/Search/food" method="POST" style="padding-left: 650px;">
              <input type="text" class="form-control mr-sm-2" id="" placeholder="Search" name="name">
              <button type="submit" class="btn btn-light mr-sm-2">Search</button>
            </form> -->
          </nav>
          
          <div class="container-fluid">
            <div style="background-color: rgb(235, 233, 233);">
                <center>
                    <h2 style="padding-top: 15px; padding-bottom: 15px;">Orders</h2>
                </center>
            </div>
            <div class="container bg-light pt-3 md-3 " id="contntform">
                {% for i in res %}
                <div class="row ">
                    <div class="col-4">
                        <img src="/static/{{i['File']}}" class="rounded" width="300" height="190" alt="">
                    </div>
                    <div class="col-8"> 
                        <table>
                            <tr>
                                <td><strong> Order id  </strong></td>
                                <td> : {{i['Order id']}}</td>
                            </tr>
                            <tr>
                                <td><strong> Food  </strong></td>
                                <td> : {{i["Food name"]}}</td>
                            </tr>
                            <tr>
                                <td><strong> quantity  </strong></td>
                                <td> : {{i["Quantity"]}}</td>
                            </tr>
                            <tr>
                                <td><strong> Total price  </strong></td>
                                <td> : {{i["Total Price"]}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong> Ordered Date-time  </strong>
                                </td>
                                <td>
                                     : {{i["Order date-Time"]}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong> Delivery Address  </strong>
                                </td>
                                <td>
                                     : {{i["Delevery Address"]}}
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Status</strong> </td>
                                <td> : {{i["Order status"]}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/update/order/{{i['Order id']}}/Recieved">
                                        <button {{todo}} class="btn btn-primary">Recieve</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="/update/order/{{i['Order id']}}/Out for delivery">
                                        <button {{todo1}} class="btn btn-primary">Out for delivery</button>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div><hr>
                {% endfor %}
            </div>
            <div class="container" style="padding-top: 50px; display: none;" id="SingleMenuForm">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                  <div class="card bg-light">
                    <div class="card-header">
                      <center><h4>Add menu</h4></center>
                    </div>
                    <div class="card-body">
                      <div style="padding: 15px;">
                      <form action="/add/single" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                          <input type="text" class="form-control" name="foodName" id="" placeholder="Food Name" required>
                        </div>
                        <div class="form-group">
                          <input type="number" class="form-control" name="foodPrice" placeholder="Food Price" id="" required>
                        </div>
                        <div class="form-group">
                          <input type="file" class="form-control" name="foodFile" id="" required>
                        </div>
                        <div class="form-group">
                          <label for="sel1">Select Status:</label>
                          <select class="form-control" id="sel1" name="status">
                            <option>Available</option>
                            <option>Unavailable</option>
                          </select>
                        </div>
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-4">
                            <button class="btn btn-dark btn-block" onclick="closeSIngle()">Close</button>
                          </div>
                          <div class="col-4">
                            <button type="submit" class="btn btn-block btn-primary" onclick="return checkimg()">Add</button>
                          </div>
                          <div class="col-2"></div>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-3"></div>
              </div>
            </div>

            <div class="container" style="padding-top: 5px; padding-left: 75px; display: none;" id="manyItems">
              <div class="row">
                <div class="card bg-light">
                  <div class="card-header">
                    <center><h4>Add menus</h4></center>
                  </div>
                  <div class="card-body" >
                    <form action="/add/many" method="post" enctype="multipart/form-data">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th>Food Name</th>
                          <th>Price</th>
                          <th>Upload File</th>
                          <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <input type="text" class="form-control" placeholder="Food Name" required name="food1Name" id="">
                            </td>
                            <td>
                              <input type="Number" class="form-control" required placeholder="Price" name="food1Price" id="">
                            </td>
                            <td>
                              <input type="file" class="form-control" required name="food1File" id="">
                            </td>
                            <td>
                                <select class="form-control" id="sel1" name="food1Status">
                                  <option>Available</option>
                                  <option>Unavailable</option>
                                </select>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input type="text" class="form-control" placeholder="Food Name" required name="food2Name" id="">
                            </td>
                            <td>
                              <input type="Number" class="form-control" required placeholder="Price" name="food2Price" id="">
                            </td>
                            <td>
                              <input type="file" class="form-control" required name="food2File" id="">
                            </td>
                            <td>
                                <select class="form-control" id="sel1" name="food2Status">
                                  <option>Available</option>
                                  <option>Unavailable</option>
                                </select>
                            </td>
                          </tr><tr>
                            <td>
                              <input type="text" class="form-control" placeholder="Food Name" required name="food3Name" id="">
                            </td>
                            <td>
                              <input type="Number" class="form-control" required placeholder="Price" name="food3Price" id="">
                            </td>
                            <td>
                              <input type="file" class="form-control" required name="food3File" id="">
                            </td>
                            <td>
                                <select class="form-control" id="sel1" name="food3Status">
                                  <option>Available</option>
                                  <option>Unavailable</option>
                                </select>
                            </td>
                          </tr><tr>
                            <td>
                              <input type="text" class="form-control" placeholder="Food Name" required name="food4Name" id="">
                            </td>
                            <td>
                              <input type="Number" class="form-control" required placeholder="Price" name="food4Price" id="">
                            </td>
                            <td>
                              <input type="file" class="form-control" required name="food4File" id="">
                            </td>
                            <td>
                                <select class="form-control" id="sel1" name="food4Status">
                                  <option>Available</option>
                                  <option>Unavailable</option>
                                </select>
                            </td>
                          </tr><tr>
                            <td>
                              <input type="text" class="form-control" placeholder="Food Name" required name="food5Name" id="">
                            </td>
                            <td>
                              <input type="Number" class="form-control" required placeholder="Price" name="food5Price" id="">
                            </td>
                            <td>
                              <input type="file" class="form-control" required name="food5File" id="">
                            </td>
                            <td>
                                <select class="form-control" id="sel1" name="food5Status">
                                  <option>Available</option>
                                  <option>Unavailable</option>
                                </select>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                          <button class="btn btn-dark btn-block" onclick="CloseMulti()">Close</button>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-3">
                          <button type="submit" class="btn btn-block btn-primary" onclick="return checkimg()">Add</button>
                        </div>
                        <div class="col-2"></div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            function AddSIngle(){
              CloseMulti();
              document.getElementById("contntform").style.display="none";
              document.getElementById("SingleMenuForm").style.display="block";
            }
            function closeSIngle(){
              document.getElementById("contntform").style.display="block";
              document.getElementById("SingleMenuForm").style.display="none";
            }
            function OpenMulti(){
              closeSIngle();
              document.getElementById("contntform").style.display="none";
              document.getElementById("manyItems").style.display="block";
            }
            function CloseMulti(){
              document.getElementById("contntform").style.display="block";
              document.getElementById("manyItems").style.display="none";
            }
            function checkimg(){
              var file=document.getElementById('image').files[0].name;
              let x=file.split(".");
              if (x[1]=="jpg" || x[1]=="jpeg" || x[1]=="png" ||x[1]=="webp" )
                return true;
              else {
                alert("Supported image formats : jpg, jpeg, png, webp");
                return false;
              }
            }
          </script>
    </body>
</html>